/* fonts */
$grid-font-size:    15px;
$grid-line-height:  18px;

$font-size--xxl:    8em;
$font-size--xl:     6.5em;
$font-size--l:      4.25em;
$font-size--reg:    2em;
$font-s:            1.2em;

/* colors */
$color-main-dark: black;
$color-main-light: white;
$color-main: blue;


/* grid */
$gutter-width: 20px;
$max-width: 1280px;

$footer-height: 4em;