@mixin app-header() {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;

  .canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-main-dark;
  }

  .text-content {
    position: relative;
  }
}