@import "_params";
@import "_grid";

.app-header {
  position: relative;
  width: 100vw;
  height: 100vh;

  // @todo header page transition
  perspective: 1500px;
  //transform-box: view-box;
}

.app-header__background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-main-dark;

  // @todo header page transition
  //perspective: 1000px;
  transform-style: preserve-3d;
  transform-box: view-box;
  //overflow: hidden;
}

.app-header__image {
  width: calc(100vw - 10rem);
  height: calc(100vh - 10rem);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.app-header__text-container {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none !important;
}

.app-header__text {
  @include gutter;
  position: absolute;
  bottom: 3rem;
  mix-blend-mode: difference;
  width: 100%;
  box-sizing: border-box;

  > * {
    margin: 0;
  }
}