@import "_params";

@mixin init-font {
  font-size: $grid-font-size;
  line-height: $grid-line-height;
  font-family:  "Klim Domaine Sans Text", sans-serif;
  font-weight:  400;
}

@mixin font-has-no-space-next-line {
  &.has-no-space-next-line:not(:last-child) {
    padding-bottom: 0;
  }

  &.has-no-space-next-line + * {
    padding-top: 0;
  }
}

@mixin font-xxl {
  font-family: "Suisse Neue", serif;
  font-size: $font-size--xxl;
  font-weight: 800;
  line-height: 8rem;
  padding-top: 12px;
  padding-bottom: 6px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include font-has-no-space-next-line;
}
@mixin font-xl {
  font-family: "Klim Domaine Sans Text", sans-serif;
  font-size: $font-size--xl;
  font-weight: 600;
  line-height: 6rem;
  padding-top: 3px;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 0;
  @include font-has-no-space-next-line;
}
@mixin font-l {
  font-family: "Klim Domaine Sans Text", sans-serif;
  font-size: $font-size--l;
  font-weight: 600;
  line-height: 4rem;
  padding-top: 14px;
  padding-bottom: 4px;
  margin-top: 126px;
  margin-bottom: 18px;
  @include font-has-no-space-next-line;
}
@mixin font-m {
  font-family: "Klim Domaine Sans Text", sans-serif;
  font-size: $font-size--reg;
  font-weight: 600;
  line-height: 2rem;
  padding-top: 8px;
  padding-bottom: 10px;
  margin-top: 54px;
  margin-bottom: 18px;
  @include font-has-no-space-next-line;
}
@mixin font-reg {
  font-family: "Klim Domaine Sans Text", sans-serif;
  font-size: $font-size--reg;
  font-weight: 400;
  line-height: 2rem;
  padding-top: 8px;
  padding-bottom: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
  @include font-has-no-space-next-line;
}
@mixin font-s {
  font-family: "Klim Domaine Sans Text", sans-serif;
  font-size: $font-s;
  font-weight: 600;
  line-height: 1rem;
  padding-top: 4px;
  padding-bottom: 14px;
  margin-top: 0;
  margin-bottom: 0;
  @include font-has-no-space-next-line;
}
@mixin font-xs {
  font-family: "Klim Domaine Sans Text", sans-serif;
  font-size: $font-s;
  font-weight: 400;
  line-height: 1rem;
  padding-top: 4px;
  padding-bottom: 14px;
  margin-top: 0;
  margin-bottom: 0;
  @include font-has-no-space-next-line;
}
