/**
  DOMAINE SANS
*/
@font-face {
  font-family: "Klim Domaine Sans Text";
  src: url("../fonts/Domaine_Sans_Text/Domaine_Sans_Text_Black.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Klim Domaine Sans Text";
  src: url("../fonts/Domaine_Sans_Text/Domaine_Sans_Text_Black_Italic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Klim Domaine Sans Text";
  src: url("../fonts/Domaine_Sans_Text/Domaine_Sans_Text_Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Klim Domaine Sans Text";
  src: url("../fonts/Domaine_Sans_Text/Domaine_Sans_Text_Bold_Italic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Klim Domaine Sans Text";
  src: url("../fonts/Domaine_Sans_Text/Domaine_Sans_Text_Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Klim Domaine Sans Text";
  src: url("../fonts/Domaine_Sans_Text/Domaine_Sans_Text_Medium_Italic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Klim Domaine Sans Text";
  src: url("../fonts/Domaine_Sans_Text/Domaine_Sans_Text_Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Klim Domaine Sans Text";
  src: url("../fonts/Domaine_Sans_Text/Domaine_Sans_Text_Regular_Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Klim Domaine Sans Text";
  src: url("../fonts/Domaine_Sans_Text/Domaine_Sans_Text_Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Klim Domaine Sans Text";
  src: url("../fonts/Domaine_Sans_Text/Domaine_Sans_Text_Light_Italic.ttf");
  font-weight: 300;
  font-style: italic;
}


/**
  SUISSE NEUE
*/
@font-face {
  font-family: "Suisse Neue";
  src: url("../fonts/Suisse_Neue/SuisseEDUNeue-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Neue";
  src: url("../fonts/Suisse_Neue/SuisseEDUNeue-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Suisse Neue";
  src: url("../fonts/Suisse_Neue/SuisseEDUNeue-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Neue";
  src: url("../fonts/Suisse_Neue/SuisseEDUNeue-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Suisse Neue";
  src: url("../fonts/Suisse_Neue/SuisseEDUNeue-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Neue";
  src: url("../fonts/Suisse_Neue/SuisseEDUNeue-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}