@import "_params";

html,
body {
  font-size: $font-size;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Klim Domaine Sans Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: black;
}

a {
  color: inherit;
  border-bottom: solid 1px;
  text-decoration: none;
  overflow-wrap: break-word;
}

button {
  all: unset;
  border: solid 1px;
  padding: 1ex;
  line-height: 1ex;
  border-radius: 2px;
  font-size: 1em;
  cursor: pointer;
}


body {
  font-family: "Klim Domaine Sans Text", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;

  *:first-child {
    margin-top: 0;
  }
}

h1 {
  font-family: "Suisse Neue", serif;
  font-size: 120px;
  font-weight: 800;
  line-height: 144px;
  padding-top: 12px;
  padding-bottom: 6px;
  margin-top: 36px;
  margin-bottom: 36px;
}

h2 {
  font-family: "Klim Domaine Sans Text", sans-serif;
  font-size: 98px;
  font-weight: 600;
  line-height: 108px;
  padding-top: 3px;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: "Klim Domaine Sans Text", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  padding-top: 14px;
  padding-bottom: 4px;
  margin-top: 126px;
  margin-bottom: 18px;
}

h4 {
  font-family: "Klim Domaine Sans Text", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  padding-top: 8px;
  padding-bottom: 10px;
  margin-top: 54px;
  margin-bottom: 18px;
}

p {
  font-family: "Klim Domaine Sans Text", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  padding-top: 8px;
  padding-bottom: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
}

h5 {
  font-family: "Klim Domaine Sans Text", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  padding-top: 4px;
  padding-bottom: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  font-family: "Klim Domaine Sans Text", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 4px;
  padding-bottom: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
