@import "_params";
@import "font";

html {
  font-size: $grid-line-height;
}

body {
  @include init-font;

  *:first-child {
    margin-top: 0;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Klim Domaine Sans Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: black;
}

h1 {
  @include font-xxl;
}

h2 {
  @include font-xl;
}

h3 {
  @include font-l;
}

h4 {
  @include font-m;
}

p {
  @include font-reg;
}

h5 {
  @include font-s;
}

h6 {
  @include font-xs;
}
