@import "_params";

html,
body {
  font-size: $font-size;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Domaine Sans Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: black;
}

h1,
h2 {
  font-family: "Suisse EDU Neue", serif;
}

h2 {
  font-size: 120px;
  line-height: 1em;
}

h3 {
  font-size: 100px;
}

button {
  border: none;
  color: inherit;
  background: none;
  font-size: 1em;
  padding: 0;
  border-bottom: solid 1px;
  cursor: pointer;
}