@import "_grid";
@import "font";

@mixin items {
  @include remove-first-and-last-vertical-margin;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 10rem;

  &__header {
    position: relative;
    height: 70vh;
    max-height: 500px;

    &__images {
      position: relative;
      height: 100%;

      > * {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__texts {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      mix-blend-mode: difference;
    }
  }
}

.v-project__description {
  $opening-transition-timing: 500ms;

  overflow: hidden;
  transition: max-height $opening-transition-timing ease-in-out;
  max-height: 7.5em;

  &.show-details {
    max-height: 50em;

    &:after {
      opacity: 0;
    }
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 4em;
    background: linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 1));
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    transition: opacity $opening-transition-timing cubic-bezier(0, 0, 0.2, 1);
    opacity: 1;
  }
}


.v-cartel__header {}

.v-cartel__header__title {}

.v-cartel__header__author {
  @include font-xs;
}

.v-cartel__description {
  @include column-container;
  @include remove-first-and-last-vertical-margin;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.v-cartel__description__texts {
  @include column(8, 10);
  margin-bottom: 1rem;
}
