@import "_grid";
@import "font";

@mixin items {
  @include remove-first-and-last-vertical-margin;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;

  @media (min-width: $break-extra-small) {
    margin-bottom: 10rem;
  }

  &__header {
    position: relative;
    //max-height: 500px;
    height: auto;

    @media (min-width: $break-regular) {
      height: 70vh;
    }

    &__images {
      position: relative;
      height: 20rem;

      @media(min-width: $break-regular) {
        height: 100%;
      }

      @media (max-width: $break-small - 1px) {
        transform: none !important;
      }

      .v-media-image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
      }
    }

    &__texts {
      left: 0;
      mix-blend-mode: difference;
      width: 100%;

      position: relative;
      top: -2rem;
      margin-bottom: -2rem;

      @media (max-width: $break-small - 1px) {
        transform: none !important;
      }

      @media (min-width: $break-small) {
        transform: translateY(-50%);
        position: absolute;
        top: auto;
        bottom: -5rem;
        margin-bottom: 0;
        padding-left: 8.33333%;
      }

      @media (min-width: $break-regular) {
        padding-left: 0;
        top: 50%;
        bottom: auto;
      }
    }
  }
}

.v-cartel__description {
  $opening-transition-timing: 500ms;

  overflow: hidden;
  transition: max-height $opening-transition-timing ease-in-out;
  max-height: 0;

  &.show-details {
    max-height: 50em;

    margin-top: 0;
    margin-bottom: 1rem;

    @media (min-width: $break-extra-small) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    &:after {
      opacity: 0;
    }
  }

  &:not(.show-details) {
    + .mmd-buttons {
      margin-top: 2rem;

      @media (min-width: $break-regular) {
        margin-top: 4rem;
      }
    }
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 4em;
    background: linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 1));
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    transition: opacity $opening-transition-timing cubic-bezier(0, 0, 0.2, 1);
    opacity: 1;
  }
}


.v-cartel__header {
  + .mmd-buttons {
    margin-top: 1rem;
  }
}

.v-cartel__header__title {
  max-width: 12em;

  @media(max-width: $break-extra-small - 1px) {
    font-size: $font-size--reg;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}

.v-cartel__header__author {
  @include font-xs;
}

.v-cartel__description {
  @include column-container;
  @include remove-first-and-last-vertical-margin;
}

.v-cartel__description__texts {
  @include column(12, 12);
  margin-bottom: 1rem;

  @media (min-width: $break-small) {
    @include column(21, 24);
    @include column-skip(2, 24);
  }

  @media (min-width: $break-regular) {
    @include column(11, 12);
    @include column-skip(0, 12);
  }

  @media (min-width: $break-medium) {
    @include column(10, 12);
  }
}

.v-cartel__description__images {
  @media (min-width: $break-small) {
    @include column-skip(2, 24);
  }
}

.v-cartel__buttons {
  @media (min-width: $break-small) {
    @include column-skip(2, 24);
  }

  @media (min-width: $break-regular) {
    @include column-skip(0, 12);
  }
}