@import "_params";
@import "_grid";

@mixin _page {
  overflow: hidden;
  @include column-container;
  @include container-content-centred;
  @include site-max-width;

  &__filter {
    @include column(10, 12);
    @include gutter;
    overflow: visible;
  }

  &__main {
    @include column(10, 12);
    @include gutter;
    @include remove-first-and-last-vertical-margin;
    margin-top: 10em;
  }

  &__footer {
    @include column(10, 12);
    @include gutter;
    @include gutter-horizontal;
    padding-bottom: 10em;
  }
}

@mixin page-dark {
  @include _page;
  background-color: $color-main-dark;
  color: $color-main-light;
}

@mixin page-light {
  @include _page;
  background-color: $color-main-light;
  color: $color-main-dark;
}