@import "_params";
@import "_grid";

@mixin _page {
  @include column-container;
  @include container-content-centred;
  @include site-max-width;

  &__filter {
    @include column(12, 12);
    overflow: visible;
    padding-bottom: 8rem;
  }

  &__main {
    @include column(1, 1);
    @include gutter;
    @include remove-first-and-last-vertical-margin;

    @media (min-width: $break-regular) {
      @include column(22, 24);
    }

    @media (min-width: $break-large) {
      @include column(10, 12);
    }
  }

  &__footer {
    padding-bottom: 5rem;
    margin-top: 15rem;
    @include column(1, 1);

    @media (min-height: $break-height-small) and (min-width: $break-regular) {
      padding-bottom: 33vh;
    }
  }
}

@mixin page-dark {
  @include _page;
  background-color: $color-main-dark;
  color: $color-main-light;
}

@mixin page-light {
  @include _page;
  background-color: $color-main-light;
  color: $color-main-dark;
}