@import "font";

@mixin link {
  cursor: pointer;
  user-select: none;
  border-bottom: solid 1px;
}

button,
.button {
  all: unset;
  font-size: 2em;
  line-height: 1rem;
  padding: calc(1rem - 1px);
  border: solid 1px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;

  &.button--small {
    font-size: $font-size-small;
    padding: calc(.5rem - 1px);
  }

  &:disabled {
    border-color: transparent;
  }

  &.button--revert {
    background: white;
    color: black;
  }

  &.button--arrow {
    &:after {
      content: ' \02192';
    }
  }

  .mmd-buttons & + & {
    margin-left: $gutter-width / 2;

    @media (min-width: $break-extra-small) {
      margin-left: $gutter-width;
    }
  }
}

.mmd-buttons {
  display: flex;

  //@include button-suite;
}

