.mmd-id-cartel {
  display: flex;
  flex-direction: column;
  height: 100%;

  .mmd-id-cartel_title {
    margin: 0;
    flex: 1 0 0;
    border-bottom: solid 1px;
  }

  .mmd-id-cartel_desc {
    margin: 0;
    font-size: 1.25em;
    line-height: 1.5rem;
  }

  .mmd-id-cartel_post {
    flex: 1 0 0;
  }

  .mmd-id-cartel_contact {
    @include font-xs;
  }
  .mmd-id-cartel_post + .mmd-id-cartel_contact {
    margin-top: 0;
  }

  .mmd-id-cartel_contact + .mmd-id-cartel_contact {
      margin-top: 0;
  }

  .mmd-id-cartel_link {
    margin-right: $gutter-width;
  }
}

