.mmd-burger-button {
  height: 2rem;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  padding: 0.5rem;
  width: 2.5rem;
}

.mmd-burger-button__container {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.mmd-burger-button__line--top,
.mmd-burger-button__line--middle,
.mmd-burger-button__line--bottom {
  height: 1px;
  width: 100%;
  position: absolute;
  background: black;
  transition: transform 250ms ease-in-out;

  .bg-dark & {
    background: white;
  }
}

.mmd-burger-button__line--top {
  top: 0;
  transform-origin: left;
  transform: rotateZ(0deg);

  .mmd-burger-button--close & {
    transform: rotateZ(45deg) translateY(-1px) translateX(-.5px);
  }
}

.mmd-burger-button__line--middle {
  top: 50%;
  transform-origin: center;
  transform: scaleX(1);

  .mmd-burger-button--close & {
    transform: scaleX(0);
  }
}

.mmd-burger-button__line--bottom {
  bottom: 0;
  transform-origin: left;
  transform: rotateZ(0deg);

  .mmd-burger-button--close & {
    transform: rotateZ(-45deg) translateY(1px) translateX(-.5px);
  }
}